/root.img
/root.img.*
/root-minimal.img
/root-minimal.img.*
/*.img
/*.img.*
/*.rpm
/*.tar
/*.tar.*
/*.tgz
/*.qcow2
/*.iso
/*.iso.*
/inspect.*/
/activation.*/
/mnt/
/mnt.*/
/work/
/work.builder-v2/
/work.package.*/
/work.openqa-rpm.*
/work.rpm-layout.*/
/preflight-check.*/
/dist/
/.cache/
/logs/
