# SPDX-License-Identifier: GPL-3.0-or-later
# dom0-side defaults for scripts/create-foreign-guix-template-dom0.sh
BASE_TEMPLATE=debian-13-minimal
TEMPLATE_NAME=guix-debian-13
NETVM=sys-firewall

# Set to 1 only when you want test-foreign-guix-template-dom0.sh to build hello.
BUILD_HELLO=0
